*.orig
*.refsignored
*.cache
*.user
.suo
.vs/
.idea/
Bin/
/obj/
[Bb]in/
/Uploads/
.suo
/bin/
syntax: glob
obj/
*.orig
packages/
*.refsignored
*.user
*.cache
packages/*
node_modules
src/PMS.BackOffice/wwwroot/dist
src/PMS.BackOffice/ClientApps/package-lock.json
src/PMS.BackOffice/wwwroot/dist
src/PMS.BackOffice/ClientApps/package-lock.json
/.vscode/
/publish
